body 
{
	font-family: consolas, monospace;
	/* because tabs are spaces, apparently */
	font-size: 0;
	overflow-x: hidden;
}

.content 
{
	min-height: 100vh;
	min-width: 100vw;
}

.text-container
{
	font-size: 12pt;
}

.theme 
{
	color: #f7f5fe;
	background-color: #980189;
}

.theme a 
{
	color: #b19ff9;
}

.theme a:visited 
{
	color: #d59ff9;
}

.theme-contrast
{
	color: #980189;
	background-color: #f7f5fe;
}

.theme-contrast li,
.theme-contrast ol,
.theme-contrast p
{
	color: #222222;
}

.row 
{
	width: 100%;
}

.row-inner 
{
	padding: 10px;
}

.divider-bottom
{
	border-bottom: 1px solid;
}

.divider-top
{
	border-top: 1px solid;
}

footer 
{
	padding: 30px;
}

#sitemap
{
	
}